<form class="{{cssClass}}" autocomplete="off" id="sheet">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"></h1>
            <div class="flexblock-left ">
                <div class="col-1-2">
                    {{#if actor.data.istemplate}}
                    {{else}}
                    <div class="flexblock-left">
                        <label class="label-free boldtext">MOD</label>
                        <input class="input-min" type="text" name="data.mod" value="{{data.mod}}">

                        {{#advShow}}
                        <a class="roll-mode boldtext" title="Roll mode"><i>{{data.rollmode}}</i></a>
                        {{/advShow}}

                        {{#showRoller}}
                        <a class="roll-free" title="Roll mode"><i class="fas fa-dice-d20"></i></a>
                        {{/showRoller}}

                        {{#if actor.data.selector}}
                        <a class="mod-selector" title="Select Options"><i class="fas fa-exclamation-circle fa-2x"></i></a>
                        {{/if}}
                    </div>
                    {{/if}}
                </div>

                <div class="rightblock">
                    {{#if actor.data.istemplate}}
                    {{else}}
                    {{#isGM}}
                    <select class="selectsheet" name="data.gtemplate" data-type="String">
                        <!--
{{#select actor.data.gtemplate}}
{{#each data.sheets as |gtemplate id|}}
<option  value="{{gtemplate}}">{{gtemplate}}</option>
{{/each}}
{{/select}}
-->
                    </select>
                    {{/isGM}}
                    {{/if}}
                    {{#isGM}}


                    <h3 class="rightblock-element">Template</h3>
                    <input class="check-istemplate" name="data.istemplate" id="check-istemplate" type="checkbox" {{checked actor.data.istemplate}}="">


                    {{/isGM}}

                    {{#if actor.data.istemplate}}
                    <h3 class="rightblock-element-tag">Rebuild Sheet</h3>
                    <a class="rightblock-element item-refresh" title="Rebuild Sheet"><i class="fas fa-sync"></i></a>
                    {{/if}}
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <div class="atabs">
        <a class="tab-prev" id="tab-prev">❮</a>
        <nav class="sheet-tabs tabs" data-group="primary" id="tabs" tabs="4">

            <a class="item tab-button" data-tab="description" id="tab-0">Bio</a>          
            <a class="item tab-button" id="tab-1" data-tab="statsTabId">Básicas</a><a class="item tab-button" id="tab-2" data-tab="movimientosTabId">Movimientos</a><a class="item tab-button" id="tab-3" data-tab="arquetipoTab">Arquetipo</a><a class="item tab-button" id="tab-4" data-tab="deudasTab">Deudas</a><a style="display: none" id="tab-last"></a>
            {{#isGM}}
            <a class="item tab-button" data-tab="citems" id="tab-citems">cItems</a>
            {{#if actor.data.istemplate}}
            <a class="item tab-button" data-tab="token" id="tab-token">Token</a>
            <a class="item tab-button" data-tab="config" id="tab-tabs">Tabs</a>
            {{/if}}
            {{/isGM}}

        </nav>
        <a class="tab-next" id="tab-next">❯</a>
    </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body" id="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography active scrollable" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{#if actor.data.istemplate}}
        {{!-- SheetTabs Tab --}}
        <div class="tab properties" data-group="primary" data-tab="config">
            <ol class="properties-list">
                {{#each data.tabs as |tab id|}}
                <li class="property flexrow" data-item-id="{{id}}">
                    <h4 class="property-name">{{tab.name}}</h4>
                    <div class="property-row">
                        <a class="property-controls item-top" title="Top Item"><i class="fas fa-arrow-alt-circle-up"></i></a>
                        <a class="property-controls item-bottom" title="Bottom Item"><i class="fas fa-arrow-alt-circle-down"></i></a>
                        <a class="property-control item-edit" title="Edit Tab"><i class="fas fa-edit"></i></a>
                        <a class="property-control item-delete" title="Delete Tab"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
        {{!-- Token Tab --}}
        <div class="tab token scrollable" data-group="primary" data-tab="token">
            <div class="flexblock">
                <div class="col-1-2">
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Bar 1</label>
                            <input class="token-bar1" type="text" name="data.tokenbar1" value="{{data.tokenbar1}}" tkvalue="">
                        </div>
                    </div>
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Shield Stat</label>
                            <input class="token-shieldstat" type="text" name="data.shieldstat" value="{{data.shieldstat}}" tkvalue="">
                        </div>
                    </div>
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Display Name</label>
                            <select class="token-displayName" name="data.displayName" data-type="String" tkvalue="NONE">
                                {{#select actor.data.displayName}}
                                <option value="NONE">NONE</option>
                                <option value="CONTROL">CONTROL</option>
                                <option value="OWNER_HOVER">OWNER HOVER</option>
                                <option value="HOVER">HOVER</option>
                                <option value="OWNER">OWNER</option>
                                <option value="ALWAYS">ALWAYS</option>
                                {{/select}}
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {{/if}}

        {{!-- cItems Tab --}}
        <div class="tab citems scrollable" data-group="primary" data-tab="citems">
            <ol class="properties-list">
                {{#each data.citems as |citem cid|}}
                <li class="property flexrow" data-item-id="{{cid}}">
                    <h4 class="property-name">{{citem.name}}</h4>
                    <div class="property-row">
                        <a class="property-control citem-edit" title="Edit cItem"><i class="fas fa-edit"></i></a>
                        <a class="property-control citem-delete" citemid="{{citem.id}}" title="Delete cItem"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>



    <div class="tab scrollable statsTabId_tab" id="statsTabId_Def" data-group="primary" data-tab="statsTabId"><div class="new-column" id="statsTabIdBody"><div class="new-block" id="statsTabIdrow0"><div class="col-1-1"><div class="panelheader">Arquetipo</div><div class="table-row"><div class="flexblock-left"><h3 class=" label-free" id="arquetipoSelectId" attid="4fgFSwsOBtVC9Pka" style="display: none;">Arquetipo Actual</h3><input name="data.attributes.arquetipoSelectId.value" value="{{data.attributes.arquetipoSelectId.value}}" type="text" class="input-free arquetipoSelectId" attid="4fgFSwsOBtVC9Pka" style="display: none;"></div><div class="flexblock-left"><table class="table-free arquetipoTableId" name="data.attributes.arquetipoTableId" value="{{data.attributes.arquetipoTableId.value}}" attid="gxGd6Zdj2FW0fqh3"><thead style="display: none;"><tr><th class="label-large">Item</th><th class="cell-empty"></th></tr></thead><tbody class="table" id="gxGd6Zdj2FW0fqh3"></tbody></table></div></div></div></div><div class="new-block" id="statsTabIdrow1"><div class="col-1-3"><div class="panelheader">Características</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small boldtext rollable" id="sangrePropId" attid="AnXY93SH9ax7osXf">Sangre</h3><input name="data.attributes.sangrePropId.value" value="{{data.attributes.sangrePropId.value}}" type="text" class="input-min sangrePropId" attid="AnXY93SH9ax7osXf"></div><div class="flexblock-left"><h3 class=" label-small boldtext rollable" id="corazonPropId" attid="6LluYcQ9iYKniYdW">Corazón</h3><input name="data.attributes.corazonPropId.value" value="{{data.attributes.corazonPropId.value}}" type="text" class="input-min corazonPropId" attid="6LluYcQ9iYKniYdW"></div><div class="flexblock-left"><h3 class=" label-small boldtext rollable" id="mentePropId" attid="GJzWMcRigvJjUzVt">Mente</h3><input name="data.attributes.mentePropId.value" value="{{data.attributes.mentePropId.value}}" type="text" class="input-min mentePropId" attid="GJzWMcRigvJjUzVt"></div><div class="flexblock-left"><h3 class=" label-small boldtext rollable" id="espirituPropId" attid="oIBgcMnOpNeGV3Aq">Espíritu</h3><input name="data.attributes.espirituPropId.value" value="{{data.attributes.espirituPropId.value}}" type="text" class="input-min espirituPropId" attid="oIBgcMnOpNeGV3Aq"></div></div></div><div class="col-1-3"><div class="panelheader">Facciones</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-med boldtext rollable" id="mortalidad" attid="h92ysDLZGLjMqCII">Mortalidad</h3><input name="data.attributes.mortalidad.value" value="{{data.attributes.mortalidad.value}}" type="text" class="input-min mortalidad" attid="h92ysDLZGLjMqCII"><input class="input-small checkMortalidadId" name="data.attributes.checkMortalidadId.value" type="checkbox" {{checked actor.data.attributes.checkMortalidadId.value}} attid="aL6O0L50AL05fOZQ"></div><div class="flexblock-left"><h3 class=" label-med boldtext rollable" id="Noche" attid="TTTQlQXEstpC7CZQ">Noche</h3><input name="data.attributes.Noche.value" value="{{data.attributes.Noche.value}}" type="text" class="input-min Noche" attid="TTTQlQXEstpC7CZQ"><input class="input-small checkNocheId" name="data.attributes.checkNocheId.value" type="checkbox" {{checked actor.data.attributes.checkNocheId.value}} attid="M5bAiWinyjtb2p9u"></div><div class="flexblock-left"><h3 class=" label-med boldtext rollable" id="Poder" attid="3ZyMZQUeHaJFIBXD">Poder</h3><input name="data.attributes.Poder.value" value="{{data.attributes.Poder.value}}" type="text" class="input-min Poder" attid="3ZyMZQUeHaJFIBXD"><input class="input-small checkPoderId" name="data.attributes.checkPoderId.value" type="checkbox" {{checked actor.data.attributes.checkPoderId.value}} attid="TBpexNdcG8UXEswm"></div><div class="flexblock-left"><h3 class=" label-med boldtext rollable" id="Velo" attid="wJKKqvgA7LvyX4YD">Velo</h3><input name="data.attributes.Velo.value" value="{{data.attributes.Velo.value}}" type="text" class="input-min Velo" attid="wJKKqvgA7LvyX4YD"><input class="input-small checkVeloId" name="data.attributes.checkVeloId.value" type="checkbox" {{checked actor.data.attributes.checkVeloId.value}} attid="TorBlc32AkymJyjs"></div></div></div><div class="col-1-3"><div class="panelheader">Secuelas</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-med" id="checkDestrozadoId" attid="JyNMQI63IsYfZETe">Destrozado</h3><input class="input-small checkDestrozadoId" name="data.attributes.checkDestrozadoId.value" type="checkbox" {{checked actor.data.attributes.checkDestrozadoId.value}} attid="JyNMQI63IsYfZETe"></div><div class="flexblock-left"><h3 class=" label-med" id="checkDescorazonadoId" attid="v4aYwaGGFCq3saEL">Descorazonado</h3><input class="input-small checkDescorazonadoId" name="data.attributes.checkDescorazonadoId.value" type="checkbox" {{checked actor.data.attributes.checkDescorazonadoId.value}} attid="v4aYwaGGFCq3saEL"></div><div class="flexblock-left"><h3 class=" label-med" id="checkDeshechoId" attid="lDddCBezD0XsuPql">Deshecho</h3><input class="input-small checkDeshechoId" name="data.attributes.checkDeshechoId.value" type="checkbox" {{checked actor.data.attributes.checkDeshechoId.value}} attid="lDddCBezD0XsuPql"></div><div class="flexblock-left"><h3 class=" label-med" id="checkQuebradoId" attid="tD7jrGTlqbSaCzej">Quebrado</h3><input class="input-small checkQuebradoId" name="data.attributes.checkQuebradoId.value" type="checkbox" {{checked actor.data.attributes.checkQuebradoId.value}} attid="tD7jrGTlqbSaCzej"></div></div></div></div><div class="new-block" id="statsTabIdrow2"><div class="col-5-6"><div class="panelheader">Daño</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-free" id="leveunolabelId" attid="0epWvBlKHVB9dvEm">Leve</h3><input class="input-small levelvacioId inputGM" name="data.attributes.levelvacioId.value" type="checkbox" {{checked actor.data.attributes.levelvacioId.value}} attid="q8DBCFgVrw7djynM" style="display: none;"><input class="input-small leveUnoId" name="data.attributes.leveUnoId.value" type="checkbox" {{checked actor.data.attributes.leveUnoId.value}} attid="4aoVGNZHBOv6rcY3"><input name="data.attributes.descleveId.value" value="{{data.attributes.descleveId.value}}" type="text" class="input-large descleveId" attid="acX7nmf02GkxDu7e"></div><div class="flexblock-left"><h3 class=" label-free" id="gravelabelId" attid="j4Y5kgG4wxwrShwH">Grave</h3><input class="input-small graveUnoId" name="data.attributes.graveUnoId.value" type="checkbox" {{checked actor.data.attributes.graveUnoId.value}} attid="0uUgkYHHTrcEYZII"><input class="input-small graveDosId" name="data.attributes.graveDosId.value" type="checkbox" {{checked actor.data.attributes.graveDosId.value}} attid="Ou2OarJJF2gNQfS7"><input name="data.attributes.descGraveId.value" value="{{data.attributes.descGraveId.value}}" type="text" class="input-large descGraveId" attid="iPOXnn6yN73tY3eA"></div><div class="flexblock-left"><h3 class=" label-free" id="criticolabelId" attid="LrqTGJoHR34rPPBJ">Crítico</h3><input class="input-small criticoUnoId" name="data.attributes.criticoUnoId.value" type="checkbox" {{checked actor.data.attributes.criticoUnoId.value}} attid="BLQxtnVPqTL2t1iz"><input class="input-small criticoDosId" name="data.attributes.criticoDosId.value" type="checkbox" {{checked actor.data.attributes.criticoDosId.value}} attid="tv6usfuZVZnBOqQY"><input name="data.attributes.descCriticoId.value" value="{{data.attributes.descCriticoId.value}}" type="text" class="input-large descCriticoId" attid="KWRgdWicum8jUTu9"></div></div></div><div class="col-1-6"><div class="panelheader">Armadura</div><div class="new-row"><div class="flexblock-left"><input name="data.attributes.armaduraPropId.value" value="{{data.attributes.armaduraPropId.value}}" type="text" class="input-min armaduraPropId" attid="YfHN8NkUNIkXIONl"></div></div></div></div><div class="new-block" id="statsTabIdrow3"><div class="col-1-1"><div class="panelheader">Equipo</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-med equipoId" name="data.attributes.equipoId.value" attid="pLZuXZHJGiarXAwX">{{data.attributes.equipoId.value}}</textarea></div></div></div></div></div></div><div class="tab scrollable movimientosTabId_tab" id="movimientosTabId_Def" data-group="primary" data-tab="movimientosTabId"><div class="new-column" id="movimientosTabIdBody"><div class="new-block" id="movimientosTabIdrow3"><div class="col-1-1"><div class="panelheader">Movimientos Básicos</div><div class="table-row"><div class="flexblock-left"><table class="table-free movBasicosTableId inputGM" name="data.attributes.movBasicosTableId" value="{{data.attributes.movBasicosTableId.value}}" attid="cV7PmqmA9RNQYVCB"><thead><tr><th class="label-large">Item</th><th class="label-free">Tirada</th><th class="label-small">Avanzado</th><th class="cell-empty"></th></tr></thead><tbody class="table" id="cV7PmqmA9RNQYVCB"></tbody></table></div></div></div></div><div class="new-block" id="movimientosTabIdrow4"><div class="col-1-1"><div class="panelheader">Movimientos de Facción</div><div class="table-row"><div class="flexblock-left"><h3 class=" label-medlarge" id="seleccionarFaccionId" attid="9MYBh65iBMk7I8m2">Tirar por facción</h3><select class="input-med seleccionarFaccionId" name="data.attributes.seleccionarFaccionId.value" attid="9MYBh65iBMk7I8m2">{{#select data.attributes.seleccionarFaccionId.value}}<option value="mortalidad">mortalidad</option><option value="Noche">Noche</option><option value="Poder">Poder</option><option value="Velo">Velo</option>{{/select}}</select></div><div class="flexblock-left"><table class="table-free movFaccionTableId inputGM" name="data.attributes.movFaccionTableId" value="{{data.attributes.movFaccionTableId.value}}" attid="fE1Ty0G2HviupyF2"><thead><tr><th class="label-large">Item</th><th class="label-free">Tirada</th><th class="cell-empty"></th></tr></thead><tbody class="table" id="fE1Ty0G2HviupyF2"></tbody></table></div></div></div></div></div></div><div class="tab scrollable arquetipoTab_tab" id="arquetipoTab_Def" data-group="primary" data-tab="arquetipoTab"><div class="new-column" id="arquetipoTabBody"><div class="new-block" id="arquetipoTabrow4"><div class="col-1-1"><div class="panelheader">Movimientos Arquetipo</div><div class="table-row"><div class="flexblock-left"><table class="table-free arquetipoMovTableId" name="data.attributes.arquetipoMovTableId" value="{{data.attributes.arquetipoMovTableId.value}}" attid="4VUeA949613EFwtg"><thead><tr><th class="label-large">Item</th><th class="input-min">Active</th><th class="input-med">Uses</th><th class="label-med">Se puede Tirar?</th><th class="label-free">Tirada</th><th class="cell-empty"></th></tr></thead><tbody class="table" id="4VUeA949613EFwtg"></tbody></table></div></div></div></div><div class="new-block" id="arquetipoTabrow5"><div class="col-1-1"><div class="panelheader">Movimientos Dramáticos</div><div class="table-row"><div class="flexblock-left"><table class="table-free dramaticosMovTableId" name="data.attributes.dramaticosMovTableId" value="{{data.attributes.dramaticosMovTableId.value}}" attid="OjoVSQ883yzWYild"><thead><tr><th class="label-large">Item</th><th class="cell-empty"></th></tr></thead><tbody class="table" id="OjoVSQ883yzWYild"></tbody></table></div></div></div></div><div class="new-block" id="arquetipoTabrow6"><div class="col-1-1">{{#ifCond actor.data.attributes.arquetipoSelectId.value 'MAGO'}}<div class="table-row"><div class="flexblock-left"><h3 class=" label-free boldtext" id="titleHechizosId" attid="Jp10DmPNgrAc9qox">Hechizos</h3></div><div class="flexblock-left"><h3 class=" label-free" id="puntosMagia" attid="b3QTE3hQt85bZZjl">Pts Magia</h3><div class="radio-input puntosMagia" name="puntosMagia" attid="b3QTE3hQt85bZZjl"></div></div><div class="flexblock-left"><table class="table-free avcIniTableId" name="data.attributes.avcIniTableId" value="{{data.attributes.avcIniTableId.value}}" attid="9xQPRm5O2YhfMVL8"><thead style="display: none;"><tr><th class="label-large">Item</th><th class="input-min">Active</th><th class="input-med">Uses</th><th class="cell-empty"></th></tr></thead><tbody class="table" id="9xQPRm5O2YhfMVL8"></tbody></table></div><div class="flexblock-left"><h3 class=" label-free boldtext" id="titleSantuarioId" attid="W8kuSSELWcPj9OD6">Santuario</h3></div><div class="flexblock-left"><table class="table-free avcIniTableId" name="data.attributes.avcIniTableId" value="{{data.attributes.avcIniTableId.value}}" attid="bshs07kgnkoKA3zc"><thead><tr><th class="label-large">Item</th><th class="label-free">Ventaja</th><th class="cell-empty"></th></tr></thead><tbody class="table" id="bshs07kgnkoKA3zc"></tbody></table></div><div class="flexblock-left"><h3 class=" label-free boldtext" id="titleFocoId" attid="kKwKIA9p3rhSBU3R">Foco</h3></div><div class="flexblock-left"><h3 class=" label-med" id="llevarFoco" attid="F8X2IHtBnYpr94xr">Llevar el foco</h3><input class="input-small llevarFoco" name="data.attributes.llevarFoco.value" type="checkbox" {{checked actor.data.attributes.llevarFoco.value}} attid="F8X2IHtBnYpr94xr"></div><div class="flexblock-left"><h3 class=" label-med" id="focoId" attid="ohV249405TloYO5a">Descripción</h3><input name="data.attributes.focoId.value" value="{{data.attributes.focoId.value}}" type="text" class="input-large focoId" attid="ohV249405TloYO5a"></div><div class="flexblock-left"><table class="table-free focoTableId" name="data.attributes.focoTableId" value="{{data.attributes.focoTableId.value}}" attid="nmNBVQUTlBPIm4GD"><thead><tr><th class="label-large">Item</th><th class="input-min">Active</th><th class="input-med">Uses</th><th class="cell-empty"></th></tr></thead><tbody class="table" id="nmNBVQUTlBPIm4GD"></tbody></table></div></div>{{/ifCond}}</div></div><div class="new-block" id="arquetipoTabrow7"><div class="col-1-1">{{#ifCond actor.data.attributes.arquetipoSelectId.value 'CORROMPIDO'}}<div class="new-row"><div class="flexblock-left"><h3 class=" label-free boldtext" id="titleFormaDemoniacoId" attid="0zMZFj6nZiJ6wJOL">Forma Demoníaca</h3></div><div class="flexblock-left"><textarea class="texteditor-med formaDemoniacaId" name="data.attributes.formaDemoniacaId.value" attid="HUQk5NQiuTYsifZu">{{data.attributes.formaDemoniacaId.value}}</textarea></div><div class="flexblock-left"><h3 class=" label-free boldtext" id="titleTrabajoDemoniacaId" attid="WcG2iUgcMlkZCUWX">Trabajo Demoníaco</h3></div><div class="flexblock-left"><h3 class=" label-free" id="titleTrabajoDemoniacaId" attid="P0WqGry4iUlu4zoD">Cuando termines un trabajo para tu jefe, márcate Velo. Tu jefe contrae una Deuda contigo por cada trabajo que termines. Puedes cobrarte una Deuda de tu jefe, como a cualquier otro personaje no jugador, para que: • Responda con sinceridad a una pregunta sobre su Facción. • Te presente a un miembro poderoso de su Facción. • Te haga un regalo valioso y útil. • Cancele una Deuda de la que sea acreedor. • Te transfiera a ti el derecho a cobrarle una Deuda a otra persona. • Te dé un +3 para Convencerlo (esta opción ha de elegirse antes de tirar). Puede que tu jefe te ofrezca una oportunidad de comprar tu libertad, pero las Deudas solas no bastarán.</h3></div><div class="flexblock-left"><h3 class=" label-free" id="trabajoDemoniacosId" attid="f6YecbU8YeH59IHB">Trabajos que debe hacer:</h3><input name="data.attributes.trabajoDemoniacosId.value" value="{{data.attributes.trabajoDemoniacosId.value}}" type="text" class="input-free trabajoDemoniacosId" attid="f6YecbU8YeH59IHB"></div></div>{{/ifCond}}</div></div><div class="new-block" id="arquetipoTabrow8"><div class="col-1-1"><div class="panelheader">Movimientos de Corrupción</div><div class="table-row"><div class="flexblock-left"><table class="table-free corrupcionMovTableId" name="data.attributes.corrupcionMovTableId" value="{{data.attributes.corrupcionMovTableId.value}}" attid="qs2NiYpdNuxUBM0Y"><thead><tr><th class="label-large">Item</th><th class="input-min">Active</th><th class="input-med">Uses</th><th class="label-med">Se puede Tirar?</th><th class="label-free">Tirada</th><th class="cell-empty"></th></tr></thead><tbody class="table" id="qs2NiYpdNuxUBM0Y"></tbody></table></div></div></div></div><div class="new-block" id="arquetipoTabrow9"><div class="col-1-1"><div class="panelheader">Corrupción</div><div class="table-row"><div class="flexblock-left"><input class="input-small checkCorrupcion1Id" name="data.attributes.checkCorrupcion1Id.value" type="checkbox" {{checked actor.data.attributes.checkCorrupcion1Id.value}} attid="1ZkJ7zGtH6XeoqqB"><input class="input-small checkCorrupcion2Id" name="data.attributes.checkCorrupcion2Id.value" type="checkbox" {{checked actor.data.attributes.checkCorrupcion2Id.value}} attid="TN1mf5bOrzUL4ltm"><input class="input-small checkCorrupcion3Id" name="data.attributes.checkCorrupcion3Id.value" type="checkbox" {{checked actor.data.attributes.checkCorrupcion3Id.value}} attid="YbXwFsi6Txh4hYUK"><input class="input-small checkCorrupcion4Id" name="data.attributes.checkCorrupcion4Id.value" type="checkbox" {{checked actor.data.attributes.checkCorrupcion4Id.value}} attid="kcnmeMTiHsmy3HEI"><input class="input-small checkCorrupcion5Id" name="data.attributes.checkCorrupcion5Id.value" type="checkbox" {{checked actor.data.attributes.checkCorrupcion5Id.value}} attid="xCIdqow3MYgGRv2e"></div><div class="flexblock-left"><table class="table-free avcCorrupcionTableId" name="data.attributes.avcCorrupcionTableId" value="{{data.attributes.avcCorrupcionTableId.value}}" attid="RdGhtfjbLySg0eDk"><thead style="display: none;"><tr><th class="label-large">Item</th><th class="input-min">Active</th><th class="input-med">Uses</th><th class="cell-empty"></th></tr></thead><tbody class="table" id="RdGhtfjbLySg0eDk"></tbody></table></div></div></div></div><div class="new-block" id="arquetipoTabrow10"><div class="col-1-1"><div class="panelheader">Avances</div><div class="table-row"><div class="flexblock-left"><h3 class=" label-free boldtext" id="titleAvanceId" attid="cy7c5KVC204GUOVw">Avances Disponibles des de el inicio</h3></div><div class="flexblock-left"><table class="table-free avcIniTableId" name="data.attributes.avcIniTableId" value="{{data.attributes.avcIniTableId.value}}" attid="gCbJMCENCLxpI7pJ"><thead style="display: none;"><tr><th class="label-large">Item</th><th class="input-min">Active</th><th class="input-med">Uses</th><th class="cell-empty"></th></tr></thead><tbody class="table" id="gCbJMCENCLxpI7pJ"></tbody></table></div><div class="flexblock-left"><h3 class=" label-free boldtext" id="titleAvance5Id" attid="sUUXheFTYze0P0vC">Disponibles tras 5 avances</h3></div><div class="flexblock-left"><table class="table-free avc5TableId" name="data.attributes.avc5TableId" value="{{data.attributes.avc5TableId.value}}" attid="wNQm4GwxgECP5OK9"><thead style="display: none;"><tr><th class="label-large">Item</th><th class="input-min">Active</th><th class="input-med">Uses</th><th class="cell-empty"></th></tr></thead><tbody class="table" id="wNQm4GwxgECP5OK9"></tbody></table></div></div></div></div></div></div><div class="tab scrollable deudasTab_tab" id="deudasTab_Def" data-group="primary" data-tab="deudasTab"><div class="new-column" id="deudasTabBody"><div class="new-block" id="deudasTabrow10"><div class="col-1-1"><div class="panelheader">Movimientos de Deuda</div><div class="table-row"><div class="flexblock-left"><table class="table-free movDeudaTableId inputGM" name="data.attributes.movDeudaTableId" value="{{data.attributes.movDeudaTableId.value}}" attid="xC780dRIayfM1BoN"><thead><tr><th class="label-large">Item</th><th class="label-med">Se puede Tirar?</th><th class="label-free">Tirada</th><th class="cell-empty"></th></tr></thead><tbody class="table" id="xC780dRIayfM1BoN"></tbody></table></div></div></div></div><div class="new-block" id="deudasTabrow11"><div class="col-1-1"><div class="panelheader">Deudas</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-med deudasId" name="data.attributes.deudasId.value" attid="bGQ5uRWI2aoKTTe0">{{data.attributes.deudasId.value}}</textarea></div></div></div></div></div></div></section>
</form>