@font-face {
  font-family: OpenSans-Regular;
  src:url(fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: ArchitectsDaughter-Regular;
  src:url(fonts/ArchitectsDaughter-Regular.ttf);
}




/* Character sheet background and Font Color */
.window-app .window-content {
    padding: 5px 3px;
    overflow-y: hidden;
    box-shadow: inset 0 0 5em 1em #000;
    background: white;
}

/* Font control of general text in Foundry in general */
body {
  font-family: "OpenSans-Regular", sans-serif; /* Dont remove the colon at the end!!! */
  font-size: 14px; /* change only the number! */
  font-weight: 400;
}
.sandbox.sheet .charname{
    font-family: ArchitectsDaughter-Regular, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Font and color control for Panel Headers */
.sandbox.sheet .panelheader {
    font-family: ArchitectsDaughter-Regular, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #383838;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.1rem;
}
.sandbox.sheet table {
    background-color: transparent;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

.sandbox.sheet table input[readonly="true"] {
    background-color: transparent;
}

.sandbox.sheet thead {
    background-color: black;
}

.sandbox.sheet .flexblock-left input {
    background-color: #dedede;
}


